.btn {
    margin-left: 2vh !important;
    margin-right: 2vh !important;
}

.btn-primary {
    background: #FFB800 !important;
    border-radius: 23px !important;
    font-family: Open Sans;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0 50px 0 50px !important;
}

.btn-primary-circular {
    background: #FFB800 !important;
    border-radius: 80px !important;
    font-family: Open Sans;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 30px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 45px !important;
    line-height: 45px !important;
    padding: 0 15px 0 15px !important;
}

.btn-secondary {
    background: white !important;
    border-radius: 23px !important;
    font-family: Open Sans;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0 50px 0 50px !important;
}

.login {
    background-color: #580B71;
}

.login-btn {
    background-color: #FFB800;
    border-radius: 20px;
    padding: 10px;
    width: 130px;
}

.headline-box {
    margin: calc(3vw + 3vh + 0.25vmin);
}

.text-homepage-headline{
    margin-top: calc(2vw + 2vh + 0.25vmin);
}

.btn-homepage-headline {
    margin-bottom: calc(2vw + 2vh + 0.25vmin);
}

.nav-logo-horizontal, .footer-copyright {
    padding: 10px 40px 15px 40px !important;
}

.nav-menu-desktop-right {
    margin-right: 40px;
}

.content-box {
    margin: 10vh auto;
    background-color: #FFFFFF;
    color: #2C2C2C !important;
    width: calc(60% + 10vmin);
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
}

.flex-raw {
    display: flex;
    justify-content: space-between;
}



.sample-box {
    margin-top: 25vh;
    margin-bottom: 25vh;
    position: center;

}

input {
    max-width: 300px;

}

.instructions {
    width: 200px;
    text-align: center;
    font-size: 9px;
    color: darkgray;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.login, 
.signup, .resetPassword{

background-color: 
#39086F;

}



.title {

text-align: 
center;

}



.dates-input1{

width: 
50%;

margin-bottom: 
30px;

margin-right: 
auto;

margin-left: 
auto;

display: 
flex;

justify-content: 
center;

}

.dates-input1 
input{

margin-right: 
auto;

margin-left: 
auto;

}



.content-box1{

    box-shadow: 0px 0px5px;
    margin: 10vh auto;
    background-color: #FFFFFF;
    width: calc(40% + 10vmin);
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: column;

}

.content-box1 a {

    color: #580B71 !important;
    font-weight: bold;
    text-align: center;
    font-family: Open Sans;
    font-style: italic;
    font-size: 18px;

}

.buttons1 {

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    margin-right: auto;
    margin-left: auto;

}









/* singup */

.dates{

    display:flex;
    flex-wrap: wrap; 

}



.dates-input{

    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;

}

.cred{

width: 250px !important;

}



.content-box{

box-shadow: 0px 0px 5px;

}



/* reste */

p {

    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;



}