.login-box {
    margin: 10vh auto !important;
    background-color: #FFFFFF !important;
    color: #2C2C2C !important;
    width: calc(50% + 10vmin) !important;
    border-radius: 10px !important;
    padding: 30px 80px 50px 80px !important;
}

.signup-box {
    margin: 10vh auto !important;
    background-color: #FFFFFF !important;
    color: #2C2C2C !important;
    width: calc(70% + 10vmin) !important;
    border-radius: 10px !important;
    padding: 30px 80px 50px 80px !important;
}

.password-reset-box {
    margin: 10vh auto !important;
    background-color: #FFFFFF !important;
    color: #2C2C2C !important;
    width: calc(50% + 10vmin) !important;
    border-radius: 10px !important;
    padding: 30px 80px 50px 80px !important;
}

.forgot-password {
    font-style: italic;
    font-size: 14px;
    margin: 10px 0 20px 0;

}

.top-bottom-margins {
    margin-top: 40px;
    margin-bottom: 40px;
}