.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Custom styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wrapper {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    background-color: #F4F4F4 !important;
}

main{
    flex: 1 0 auto !important;
}

main {
    flex: 1 0 auto !important;
}

footer {
    background-color: #39086F !important;
    margin-bottom: auto !important;
}

strong {
    font-weight: 700 !important;
}

nav {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: transparent !important;
    background-image: url("./components/img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    color: #FFF;
}

nav li {
    margin-right: 15vh;
}

h1 {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: calc(2vw + 2vh + 1.75vmin) !important;
    line-height: 115.18% !important;
    color: #FFFFFF !important;

}

h2 {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: calc(1vw + 1vh + 1.5vmin) !important;

    line-height: 115.18% !important;
    color: #2C2C2C !important;
}

h3 {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: calc(1vw + 1vh + 1.5vmin) !important;
    text-align: center;
    line-height: 115.18% !important;
    color: #2C2C2C !important;
    padding-left: 0 !important;
}

/*Custom*/
.btn {
    margin-left: 2vh !important;
    margin-right: 2vh !important;
}

.btn-primary {
    background: #FFB800 !important;
    border-radius: 23px !important;
    font-family: 'Open Sans';
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0 50px 0 50px !important;
}

.btn-primary-circular {
    background: #FFB800 !important;
    border-radius: 160px !important;
    width: 50px !important;
    height: 50px !important;
    font-family: "Open Sans";
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 30px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin: 1vh 0 0 0 !important;
    line-height: 50px !important;
    padding: 0 15px 0 15px !important;
    align-self: center;
}

.btn-secondary {
    background: white !important;
    border-radius: 23px !important;
    font-family: 'Open Sans';
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0 50px 0 50px !important;
}

.headline-title {
    align-items: center !important;
}

.text-homepage-headline{
    margin-top: calc(2vw + 2vh + 0.25vmin);
}

.btn-homepage-headline {
    margin-bottom: calc(2vw + 2vh + 0.25vmin);
}

.nav-logo-horizontal, .footer-copyright {
    padding: 10px 40px 15px 40px !important;
}

.nav-menu-desktop-right {
    margin-right: 40px;
}

.row, .col {
    padding: 0 !important;
}

/* Comment or uncomment to outline all DOM objects for design purposes */
* {
    /*border: 1px dashed #ff9500;*/
}
