.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Custom styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wrapper {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    background-color: #F4F4F4 !important;
}

main{
    flex: 1 0 auto !important;
}

main {
    flex: 1 0 auto !important;
}

footer {
    background-color: #39086F !important;
    margin-bottom: auto !important;
}

strong {
    font-weight: 700 !important;
}

nav {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: transparent !important;
    background-image: url("./components/img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    color: #FFF;
}

nav li {
    margin-right: 15vh;
}

h1 {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: calc(2vw + 2vh + 1.75vmin) !important;
    line-height: 115.18% !important;
    color: #FFFFFF !important;

}

h2 {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: calc(1vw + 1vh + 1.5vmin) !important;

    line-height: 115.18% !important;
    color: #2C2C2C !important;
}

h3 {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: calc(1vw + 1vh + 1.5vmin) !important;
    text-align: center;
    line-height: 115.18% !important;
    color: #2C2C2C !important;
    padding-left: 0 !important;
}

/*Custom*/
.btn {
    margin-left: 2vh !important;
    margin-right: 2vh !important;
}

.btn-primary {
    background: #FFB800 !important;
    border-radius: 23px !important;
    font-family: 'Open Sans';
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0 50px 0 50px !important;
}

.btn-primary-circular {
    background: #FFB800 !important;
    border-radius: 160px !important;
    width: 50px !important;
    height: 50px !important;
    font-family: "Open Sans";
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 30px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin: 1vh 0 0 0 !important;
    line-height: 50px !important;
    padding: 0 15px 0 15px !important;
    align-self: center;
}

.btn-secondary {
    background: white !important;
    border-radius: 23px !important;
    font-family: 'Open Sans';
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    /* identical to box height */
    text-align: center !important;
    text-transform: none !important;
    color: #580B71 !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0 50px 0 50px !important;
}

.headline-box {
    align-items: center !important;
}

.text-homepage-headline{
    margin-top: calc(2vw + 2vh + 0.25vmin);
}

.btn-homepage-headline {
    margin-bottom: calc(2vw + 2vh + 0.25vmin);
}

.nav-logo-horizontal, .footer-copyright {
    padding: 10px 40px 15px 40px !important;
}

.nav-menu-desktop-right {
    margin-right: 40px;
}

.row, .col {
    padding: 0 !important;
}

.btn-reset {
    margin-top: 3px;
    margin-left: 5px !important;
}

@media only screen and (max-width: 600px) {
    .content-box {
        margin: 5vh auto;
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        width: calc(80% + 5vmin) !important;
        border-radius: 10px;
        padding: 20px 40px 20px 40px;
    }

    h3 {
        font-style: normal !important;
        font-weight: 800 !important;
        font-size: 3.5vh !important;
        text-align: center;
        line-height: 115.18% !important;
        color: #2C2C2C !important;
        padding-left: 0 !important;
    }

    .device-name, .device-location {
        font-size: small !important;
        white-space: pre !important;
        font-size: calc(0.8vh + 1.5vmin) !important;
    }

    .device-control {
        margin-top: 1vh;
    }

    .slider {
        margin-top: -0.5vh;
        margin-left: 1.5vh !important;
    }

    .switch {
        margin-left: -0.5vh !important;
    }

    .no-switch {
        margin-right: 2.5vh !important;
        visibility: hidden;
    }

    .btn-edit {
        margin-left: 0.5vh;
    }

    .display-info {
        width: 100% !important;
        padding: 0.7vh;
        margin-top: -0.1vh !important;
        /*margin-right: 1vh !important;*/
    }

    .btn-edit-no-switch {
        margin-left: 88px !important;
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 700px) {
    .content-box {
        margin: 5vh auto;
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        width: calc(90% + 5vmin) !important;
        border-radius: 10px;
        padding: 20px 40px 20px 40px;
    }

    .device-name, .device-location {
        white-space: pre !important;
        /*font-size: calc(0.8vh + 1.5vmin) !important;*/
    }

    .slider {
        margin-top: 1vh;
    }

    .switch {
        margin-top: 2vh;
        margin-right: 3vh;
    }

    .no-switch {
        margin-right: 10vh !important;
        visibility: hidden;
    }

    .btn-edit {
        margin-top: 2.5vh;
        margin-left: 3vh;
    }

    .display-info {
        padding: 0.7vh;
        margin-top: 1.5vh !important;
        margin-right: 3vh !important;
    }

    .btn-edit-no-switch {
        margin-left: 112px !important;
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 900px) {
    .content-box {
        margin: 5vh auto;
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        width: calc(50% + 5vmin) !important;
        border-radius: 10px;
        padding: 20px 40px 20px 40px;
    }

    .slider {
        margin-top: 1.25vh;
    }

    .switch {
        margin-top: 1.25vh;
        margin-left: 2vh !important;;
        margin-right: 2.5vh;
    }

    .btn-edit {
        margin-top: 1.25vh;
    }

    .no-switch {
        margin-right: 0.70vh !important;
        visibility: hidden;
    }

    .btn-edit-no-switch {
        margin-left: 88px !important;
        margin-right: 0 !important;
    }
}

.flex-container {
    display: flex;
}

.collapsible-header {
    margin: auto !important;
    /*padding: 1vh !important;*/
    flex-wrap: wrap;
}

.collapsible-body {;
    padding: 0 !important;
}

.device-parent {
    background-color: #E8E8E8 !important;
}

.device-child {
    background-color: #F4F4F4 !important;
    border: none !important;
}

.sensor-value {
    padding: 0.7vh;
    width: 80px !important;
    height: 30px !important;
    border-radius: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.display-info {
    padding: 0.7vh;
    margin-top: 0.75vh;
    /*width: 80px !important;*/
    height: 30px !important;
    border-radius: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.display-active {
    background: #580B71;
}

.display-inactive {
    background: #848484;
}

.expandable-component {
    width: 100%;
    align-self: center;
    justify-content: center;
}

.icons-wrapper {
    display: flex !important;
    text-align: center !important;
    max-height: 40px !important;
    vertical-align: middle !important;
    align-items: center !important;
}

.icon-device {
    height: 40px;
    min-width: 40px;
    width: 40px !important;
    margin-right: 2vh;
}

.muted-icon {
    color: #cecece !important;
}

.is-child {
    display: none !important;
}

.no-slider {
    visibility: hidden !important;
}

.no-switch {
    margin-top: 1.25vh;
    margin-left: 2vh !important;;
    margin-right: 1vh;
    visibility: hidden !important;
}


* {
    /*border: 1px dashed #ff9500;*/
}
